<%= stylesheet_link_tag 'restaurant/dishes/index' %>

<%= render "partials/restaurant_nav" %>
<% if flash[:notice] %>
            <div class="alert alert-info"><%= flash[:notice] %></div>
        <% end %>
<section id="dish-cards">
    <% @restaurant.dishes.each do |dish| %>
        <a href= <%= restaurant_dish_path(dish)%>>
            <%= render "partials/card", locals: { dish: dish} %>
        </a>
    <% end %>
</section>