<%= stylesheet_link_tag "restaurant/dishes/show" %>
<%= content_for :title, @dish.name %>

<div class="container my-5">
  <div class="card" style="max-width: 800px; margin: 0 auto;">
   
    <%= image_tag @dish.image if @dish.image.persisted? %>

    <div class="card-body">
      <h2 class="card-title"><%= @dish.name %></h2>

      <p class="card-text"><%= @dish.description %></p>

      <p class="card-text">
        <strong>Price: </strong> $<%= @dish.price %>
      </p>

      <%= render "partials/back_button" %>
    </div>
  </div>
</div>
