<%= stylesheet_link_tag "restaurant/dishes/show" %>
<%= content_for :title, @dish.name %>

<div class="container">
  <div class="card" style="max-width: 800px; margin: 0 auto;">
   
    <%= image_tag @dish.image if @dish.image.persisted? %>

    <div class="card-body">
      <h2 class="card-title"><%= @dish.name %></h2>

      <p class="card-text"><%= @dish.description %></p>

      <p class="card-text">
        <strong>Price: </strong> $<%= @dish.price %>
      </p>

      <div style="display: flex; justify-content:space-between; padding: 0 2rem">
        <%= link_to "Order Now", "#", class: "order-button" if @role == "Client"%>
        <%= link_to "Edit",edit_restaurant_dish_path(@dish), id: "edit-btn" if @dish.restaurant.id == @rest_id%>
        <%= render "partials/back_button" %>
      </div>
    </div>
  </div>
</div>
