<%= stylesheet_link_tag 'partials/form' %>

<div id="container">
    <div id="box">
        <p id="title"><%= heading %></p>
        <%= form_for [:users, model] do |f| %>
            <%= render partial: 'partials/user', locals: { form: f} %>

            <% if model.is_a?(Restaurant) %>
                <%= render partial: 'partials/restaurant', locals: { model: model , form: f} %>
            <% end %>

            <% if model.is_a?(Rider) %>
                <%= render partial: 'partials/rider', locals: { model: model , form: f} %>
            <% end %>

            <%= f.submit 'Submit', id: "submit" %>
            <%= render  "partials/back_button" %>
        <% end %>
    </div>
</div>
