<%= stylesheet_link_tag "users/restaurants/index"%>
<% if @role == "Client" %>
    <header id="header">
        <h1>Dashboard</h1>
        <h1>Welcome, <%= @client.user.name %></h1>
        <%= link_to "Orders", user_orders_path, id: "orderBtn" %>
    </header>
<% end %>
<div style="display: flex; flex-wrap:wrap">
    <% @restaurants.each do |hotel| %>
    <a href= <%= "/restaurants/#{hotel.id}" %>>
        <div id="tile">
                <div id="image-container">
                    <%= image_tag hotel.avatar if hotel.avatar.persisted? %>
                    <div class="label <%= hotel.category == 'Veg' ? 'veg' : 'non-veg' %>">
                        <%= hotel.category.capitalize %>
                    </div>
                </div>
                <div id="card-content">
                    <h2 id="dish-title"><%= hotel.user.name if hotel.user %></h2>
                </div>
            </div>
        </a>
    <% end %>
</div>
<center><%= render  "partials/back_button" %></center>