<%= stylesheet_link_tag 'restaurant/dishes/index' %>
<section id="dish-cards">
   <% @dishes.each do |dish| %>
  <div id="box">
    <a href="<%= restaurant_dish_path(dish) %>">
      <%= render "partials/card", locals: { dish: dish } %>
    </a>
    <% if @role == "Client" %>
      <center>
        <!-- Stimulus Button for Checkout -->
        <button type="button"
                id="addBtn"
                data-controller="payment"
                data-action="click->payment#redirectToCheckout"
                data-redirect-dish-id="<%= dish.id %>">
          Buy Now
        </button>
      </center>
    <% end %>
  </div>
<% end %>

</section>
<center><%= render  "partials/back_button" %></center>