<%= stylesheet_link_tag 'restaurant/orders/show' %>
<div class="container">
    <h1>Order Details</h1>

    <div class="order-summary">
      <div class="order-details">
        <p class="order-id">Order ID: <%= @order.id %></p>
        <p class="order-status">Status: <strong><%= @order.status %></strong></p>
        <p class="order-date">Order Date: <%= @order.created_at.strftime('%d %B, %Y') %></p>
      </div>
    </div>

    <div class="order-items">
      <h2>Ordered Item</h2>
        <strong><%= @order.dish.name %></strong><br>
        Price: $<%= @order.dish.price %><br>
        <%= @order.dish.description %>
      </ul>
    </div>

    <div class="order-summary">
      <p><strong>Total: $<%= @order.dish.price %></strong></p>
    </div>

    <div class="footer">
      <p>If you have any questions, please contact Client:</p>
      <p class="contact-info">Client: <%= @order.client.user.phone %></p>
    </div>
    <center><%= render "partials/back_button" %></center>

  </div>